* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  -webkit-transition: 1s;
  transition: 1s;
}

html, body {
  width: 100vw;
  height: 100vh;
  color: #000000;
}

body {
  background: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1070&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0%;
  top: 20%;
  color: white;
  cursor: pointer;
}

#wrapper a {
  text-decoration: none;
  color: #0553fc;
}

#wrapper ul {
  color: black;
  background: rgba(255, 255, 255, 0.55);
}

#design-selection {
  position: relative;
  display: inline-block;
}

#design-archives {
  position: relative;
  display: inline-block;
}

#zen-resources {
  position: relative;
  display: inline-block;
}

#design-selection > nav > ul, #design-archives > nav > ul, #zen-resources > ul {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
}

#design-selection:hover > nav > ul, #design-archives:hover > nav > ul, #zen-resources:hover > ul {
  display: block;
  width: 200px;
  height: auto;
  cursor: pointer;
}

#zen-intro {
  margin-bottom: 5rem;
}

#banner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(https://images.unsplash.com/photo-1558385327-cd6417b13c25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center/cover;
  font-size: 2rem;
  -webkit-animation: banner-img-scale 3s 1s 1 ease forwards;
          animation: banner-img-scale 3s 1s 1 ease forwards;
  color: #ffffff6e;
}

@-webkit-keyframes banner-img-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes banner-img-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#zen-summary {
  width: 100vw;
  background: rgba(37, 34, 34, 0.336);
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

#zen-preamble {
  width: 80vw;
  height: 65vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1446776877081-d282a0f896e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#zen-preamble > * {
  background: rgba(255, 255, 255, 0.3);
}

#zen-preamble h3 {
  width: 40%;
  height: 20%;
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  padding-top: 2rem;
}

#zen-preamble p {
  width: 40%;
  height: 20%;
  text-align: justify;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

#zen-preamble p:last-child {
  margin-bottom: 2rem;
}

#zen-explanation {
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#zen-explanation > * {
  background: rgba(255, 255, 255, 0.3);
}

#zen-explanation h3 {
  width: 40%;
  height: 20%;
  text-align: center;
  margin-top: 2rem;
  margin-right: auto;
  padding-top: 2rem;
}

#zen-explanation p {
  width: 40%;
  height: 30%;
  text-align: justify;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

#zen-explanation p:last-child {
  margin-bottom: 2rem;
}

#zen-participation {
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1583309219338-a582f1f9ca6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1064&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#zen-participation > * {
  background: rgba(255, 255, 255, 0.3);
}

#zen-participation h3 {
  width: 40%;
  height: 20%;
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  padding-top: 2rem;
}

#zen-participation p {
  width: 40%;
  height: 30%;
  text-align: justify;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

#zen-participation p:last-child {
  margin-bottom: 2rem;
}

#zen-benefits {
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1513696121606-246704d9bb10?ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#zen-benefits > * {
  background: rgba(255, 255, 255, 0.3);
}

#zen-benefits h3 {
  width: 40%;
  height: 20%;
  text-align: center;
  margin-top: 2rem;
  margin-right: auto;
  padding-top: 3rem;
}

#zen-benefits p {
  width: 40%;
  height: 30%;
  text-align: justify;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

#zen-benefits p:last-child {
  margin-bottom: 2rem;
}

#zen-requirements {
  width: 80vw;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(https://img.zcool.cn/community/0149d45d5756e2a80120695c275149.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#zen-requirements > * {
  background: rgba(255, 255, 255, 0.3);
}

#zen-requirements h3 {
  width: 40%;
  height: 20%;
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  padding-top: 2rem;
}

#zen-requirements p {
  width: 40%;
  height: 30%;
  text-align: justify;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

#zen-requirements p:last-child {
  margin-bottom: 2rem;
}

#zen-supporting > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00000000;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#zen-supporting > footer a {
  color: #5f1818;
  font-size: 1rem;
}

#zen-supporting > footer a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #e91515;
}
